%h1 DES

%h2 Encrypt
= form_tag '#', :id => 'des-form' do
  %p
    plaintext
    = text_field_tag 'plaintext', :value => '0110000101100010011000110110010001100101011001100110011101101000'
  #plain_alert
  %p
    key
    = text_field_tag 'key', :value => '0011101100111000100110000011011100010101001000001111011101011110'
  %p=submit_tag 'Encrypt!', :tag => 'encrypt'
  #key_alert
  %p#encrypt
  %h2 Decrypt
  %p= text_field_tag 'ciphertext', :value => '0110001011100000110001101000110001001000111001000111010111101101'
  = submit_tag 'Decrypt!', :tag => 'decrypt'
  #cipher_alert
  %p#decrypt

  %textarea#output_log{:rows => '40', :cols => '25', :wrap => "off"}
